
    <div class="st-dashboard-nav">

        <% if(user){ %>
            <h4>
                Hello,
                <%=user.stud_name%>
            </h4>
            <% }%>

                <button class="st-dashboard-button"><a href="/student/logout">Logout</a></button>

    </div>

    <!-- <div class="content"></div> -->
    
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Enter Details</h1>
            <form>
                <div class="form-group">
                    <label for="enroll">Enter address</label>
                    <input type="text" id="address" name="address" class="form-control" placeholder="Enter Address" />
                </div>

                <div class="form-group">
                    <label for="year">Category</label>
                    <input type="text" id="category" name="category" class="form-control" placeholder="Enter Category" />
                </div>
                <div class="form-group">
                    <label for="year">Addmission year</label>
                    <input type="text" id="year" name="year" class="form-control" placeholder="Enter Addmission year" />
                </div>

                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </form>

        </div>
    </div>
</div>

<script>
    const form = document.querySelector('form');
    // const emailError = document.querySelector('.email_error');
    // const passwordError = document.querySelector('.password_error');
    // const nameError = document.querySelector('.name_error');
    // const enrollmentError = document.querySelector('.enrollment_error');

    // emailError.textContent = ''
    // nameError.textContent = ''
    // passwordError.textContent = ''
    // enrollmentError.textContent = ''

    form.addEventListener('submit', async(e) => {
        e.preventDefault();
        const category = form.category.value;
        const year = form.year.value;
        const address = form.address.value;
        try {
            const res = await fetch('/student/basicinfo', {
                method: 'POST',
                body: JSON.stringify({
                    address,
                    category,
                    year,

                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });


            const data = await res.json();

            console.log('in basic info response')
            console.log(data);

            if (data) {
                if (data.errors) {


                    console.log('error in submitting form ')




                }
                if (data.stud_id) {

                    location.assign('/student/studentdashboard');

                }
            }
        } catch (err) {
            throw err;
        }

    });
</script>