<div class="wrapper">
    <div class="admin">
        <h3>Admin</h3>
        <div class="rlbuttons">

            <button><a href="admin/login">Login</a></button>
        </div>


    </div>
    <div class="student">
        <h3>Student</h3>
        <div class="rlbuttons">
            <button class="register-btn"><a href="student/register">Register</a></button>
            <button class="login-btn"><a href="student/login">Login</a></button>
        </div>
    </div>
</div>
